<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>View All Students</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" media="all" href="/css/main.css"
	th:href="@{../../css/main.css}" />
</head>
<body>
	<h1>All Students</h1>
	<table>
		<tr>
		<thead>
			<th>No.</th>
			<th>NPM</th>
			<th>Name</th>
			<th>GPA</th>
		</thead>
		</tr>
		<div th:each="student,iterationStatus: ${students}">
			<tr>
				<td th:text="${iterationStatus.count}">No. 1</td>
				<td th:text="${student.npm}">Student NPM</td>
				<td th:text="${student.name}">Student Name</td>
				<td><label th:text="${student.gpa}">Student GPA</label><span
					class="warn"
					th:text=" (2 gt ${student.gpa}) ? ('Mahasiswa dalam probation') : ''"></span>
				</td>
			</tr>
		</div>
	</table>
</body>
</html>
